#simple-cart{
    position: relative;
    float: right;
    margin-right: -15px;
    padding: 13px 15px 15px 5px;
    line-height: 20px;
    .btn{
        width: 100%;
    }
}
div[class^="simple-cart-"]{
    float: left;
    width: 100%;
}
#cart-link{
    position: relative;
    color: #777;
    text-decoration: none;
    b{
        display: none;
    }
    .badge{
        position: relative;
        top: -12px;
        left: 5px;
        margin: 0;
        background: #ccc;
        color: #000;
        z-index: 10;
        font-size: 10px;
        border-radius: 5px;
        padding: 0 3px;
    }
}
#cart-content{
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    width: 320px;
    padding: 10px;
    background: #fff;
    outline: 1px solid #222;
    margin: 1px 0 0 0;
    z-index: 99;
    font-size: 0.75em;
    h4{
        margin: 0;
        font-size: 1em;
        font-weight: 600;
    }
}
.simple-cart-header{
    padding: 0 0 10px;
    line-height: 1;
}
.simple-cart-body{
    position: relative;
    max-height: 400px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        position: relative;
        right: -26px;
        width: 8px;
        background-color: rgba(0,0,0,0);
        -webkit-border-radius: 100px;
    }
    &::-webkit-scrollbar:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
    &::-webkit-scrollbar-thumb:vertical {
        background: rgba(0,0,0,0.1);
        -webkit-border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb:vertical:active {
        background: rgba(0,0,0,0.2);
        -webkit-border-radius: 100px;
    }
}
.simple-cart-footer{
    padding-top: 5px;
}
.simple-cart-item{
    img{
        width: 100%;
        max-width: 100px;
    }
    .remove{
        color: #000;
        font-weight: 300;
        font-size: 1.3em;
        line-height: 16px;
        height: 16px;
        width: 16px;
        background: #f4f4f4;
        float: right;
        text-align: center;
        border-radius: 8px;
        &:hover{
            text-decoration: none;
            background: #428bca;
            color: #fff;
        }
    }
}
.cart-empty{
    float: right;
    width: 100%;
    text-align: center;
    padding: 25px;
    color: #999;
    background: #f4f4f4;
    font-size: 1.2em;
    margin-bottom: 5px;
    b{
        margin-left: 5px;
    }
}
.cart-items{
    margin-bottom: 0;
}