@media (min-width: 768px) {
    #logo{
        margin-left: 0;
    }
    #simple-cart{
        margin-right: 0;
    }
    .navbar-header{
        padding: 0 15px;
    }
    #cart-dropdown{
        display: block;
    }
    #cart h3{
        font-size: 1.4em;
        margin-top: 5px;
    }
}