header{
    float: left;
    width: 100%;
    background: #fff;
    @include box-shadow(0 0 4px rgba(0,0,0,0.1));
    padding: 10px;
}
#logo{
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    font-size: 1.5em;
}