.well-cart{
    margin: 30px auto;
    background: #fcfcfc;
    border: 3px double #eee;
    padding: 50px 15px;
}
/* Animations */
.spin {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
    padding: 4px;
    border-radius: 4px;
    color: #666;
    background-color: #eee;
    -webkit-animation: spin 0.5s infinite linear;
    -moz-animation: spin 0.5s infinite linear;
    -o-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}