<div class="row">
    <div class="col-lg-12">
        <h1>Welcome</h1>
        <p>This supposed to be our dashboard reading from <code>Clicky API</code> and maybe showing some sales report, but we got 99 problems and this ain't one :)</p>
    </div>
</div>
<div class="row">
    <widget icon="eye-open" value="3">Visitors Online</widget>
    <widget icon="user" value="63">Visitors Today</widget>
    <widget icon="hand-up" value="146">Actions</widget>
    <widget icon="stats" value="2m 45s">Average Visit</widget>
</div>